<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About u(fo)s</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Aspernatur sit quia exercitationem perferendis
        blanditiis voluptate, quisquam explicabo
        consequuntur. Eius minima temporibus ipsam suscipit
        exercitationem odit voluptatibus harum excepturi
        molestias quisquam.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Aspernatur sit quia exercitationem perferendis
        blanditiis voluptate, quisquam explicabo
        consequuntur. Eius minima temporibus ipsam suscipit
        exercitationem odit voluptatibus harum excepturi
        molestias quisquam.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Aspernatur sit quia exercitationem perferendis
        blanditiis voluptate, quisquam explicabo
        consequuntur. Eius minima temporibus ipsam suscipit
        exercitationem odit voluptatibus harum excepturi
        molestias quisquam.
      </p>
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
